.Hi {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

body {
    margin: 20px;
}

.H {
    border : 1px solid gray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}